{% apply spaceless %}
    {% set phoneElementId = elementId ?: 'form-field-tel-fKUxNS' %}
    {% set phoneElementPartId = elementPartId ?: 'form-field-tel-part-L3Y3gC' %}
    {% set phoneCountriesPartId = countriesPartId ?: 'form-field-tel-part-countries-OGz4jf' %}
    {% set phoneInitialCountriesPartId = (initialCountriesPartId ?: pinnedCountriesPartId) ?: 'form-field-tel-part-initial-BEWZhN' %}
    {% set phoneFormTextPartId = formTextPartId ?: 'form-field-tel-part-text-yXZUwb' %}
    {% set phoneErrorRequiredPartId = errorRequiredPartId ?: 'form-field-tel-part-error-required-XKiYlP' %}
    {% set phoneErrorInvalidPartId = errorInvalidPartId ?: 'form-field-tel-part-error-invalid-3XeP4R' %}
    {% set phoneLabelText = (labelText ?: properties.phoneLabelText) ?: bsi_cx_lorem(3) %}
    {% set phoneInfoText = (infoText ?: properties.phoneInfoText) ?: "" %}
    {% set phoneErrorRequiredText = (errorRequiredText ?: properties.errorRequiredText) ?: 'Bitte füllen Sie dieses Feld aus.' %}
    {% set phoneErrorInvalidText = (errorInvalidText ?: properties.errorInvalidText) ?: 'Der Wert, den Sie für dieses Feld eingegeben haben, ist ungültig.' %}

    <div x-data="telInput"
        data-bsi-element="{{ phoneElementId }}"
        data-bsi-element-part="{{ phoneElementPartId }}"
        data-bsi-form-field-fixed-type
        class="{{ 'bsi-element-' ~ phoneElementId }} mb-4 bsi-form-element bsi-form-flex-label bsi-form-tel-input bsi-element-width-full">
        <div class="bsi-form-input-element mb-3">
            <div class="form-label-and-info-text">
                <label for="tel-field" class="form-label">{{ phoneLabelText }}</label>
                <div data-bsi-element-part="{{ phoneFormTextPartId }}"
                    class="form-text">{{ phoneInfoText }}</div>
                <i  class="bi bi-info-circle"
                    data-bs-toggle="tooltip"
                    data-bs-custom-class="bsi-tooltip"
                    role="tooltip"
                    aria-label="{{ phoneInfoText }}"></i>
            </div>
            <input x-ref="inputField"
                @input="validate"
                class="form-control bsi-form-tel-input-element"
                id="tel-field"
                type="tel"
                required>
            <div class="d-none">
                <div data-bsi-element-part="{{ phoneCountriesPartId }}"
                    class="only-countries">ch,de,at</div>
                <div data-bsi-element-part="{{ phoneInitialCountriesPartId }}"
                    class="initial-country">de</div>
            </div>
            <div data-bsi-element-part="{{ phoneErrorRequiredPartId }}"
                class="invalid-feedback">{{ phoneErrorRequiredText }}</div>
            <div data-bsi-element-part="{{ phoneErrorInvalidPartId }}"
                class="d-none logic-validation">{{ phoneErrorInvalidText }}</div>
        </div>
    </div>
{% endapply %}
