{% apply spaceless %}
    {% set formWidth = (formWidth ?: properties.formWidth) ?: 'bsi-form-wide' %}
    {% set formLayout = (formLayout ?: properties.formLayout) ?: 'bsi-form-card-visible' %}
    {% set formBorderRadius = (formBorderRadius ?: properties.formBorderRadius) ?: 'bsi-corner-rounded' %}
    {% set formLabelPosition = (formLabelPosition ?: properties.formLabelPosition) ?: 'bsi-form-label-top' %}
    {% set formColor = (formColor ?: properties.formColor) ?: 'bsi-form-color-primary' %}
    {% set formButtonLayout = (formButtonLayout ?: properties.formButtonLayout) ?: 'bsi-form-btn-outline' %}
    {% set formPinLabel = (formPinLabel ?: properties.formPinLabel) ?: 'pin-label-invisible' %}
    {% set formFieldElementPartId = elementPartId ?: 'form-field-part-eefc3ac5' %}
    {% set formFieldTextPartId = formTextPartId ?: 'form-field-part-text-cc1a1c62' %}
    {% set formFieldErrorRequiredPartId = errorRequiredPartId ?: 'form-field-part-error-required-f3cf3728' %}
    {% set formFieldLabelText = (labelText ?: properties.formFieldLabelText) ?: bsi_cx_lorem(3) %}
    {% set formFieldInfoText = (infoText ?: properties.formFieldInfoText) ?: "" %}
    {% set formFieldErrorRequiredText = (errorRequiredText ?: properties.errorRequiredText) ?: 'Bitte füllen Sie dieses Feld aus.' %} {# TODO: make translatable #}

    {# Pin-Container #}
    <div x-data="formPin" data-bsi-element="form-container-pin-384aa4d6" class="form-container-pin-384aa4d6 container mb-3 {{ formWidth }} {{ formLayout }} {{ formBorderRadius }} {{ formTooltipStyle }} {{ formColor }} {{ formButtonLayout }} {{ formPinLabel }}">
        <div class="card border-light shadow">
            <div class="card-body">
                <form x-init="initForm" x-on:submit="submitForm" id="pin-form" data-bsi-show-form-type-field class="needs-validation formular-pin" novalidate>
                    {# Pin-Element #}
                    <div data-bsi-form-field-fixed-type data-bsi-hide-required class="mb-4 bsi-form-element bsi-form-field-element bsi-form-flex-label" data-bsi-element-part="{{ formFieldElementPartId }}">
                        <div class="bsi-form-input-element bsi-label-floating-element mb-3">
                            <div class="form-label-and-info-text">
                                <label for="field" class="form-label">{{ formFieldLabelText }}</label>
                                <div data-bsi-element-part="{{ formFieldTextPartId }}" class="form-text">{{ formFieldInfoText }}</div>
                            </div>
                            <input x-init="initPinNumberFields" type="text" class="form-control bsi-form-field-input bsi-form-field-input-original hide required" id="field" aria-hidden="true" value="" required>
                            <div class="bsi-form-pin-element">
                                {# generated Inputs #}
                                <input min="0" max="9" class="form-control bsi-form-field-input preview-input" type="text" data-bsi-remove-if="live">
                                <input min="0" max="9" class="form-control bsi-form-field-input preview-input" type="text" data-bsi-remove-if="live">
                                <input min="0" max="9" class="form-control bsi-form-field-input preview-input" type="text" data-bsi-remove-if="live">
                                <input min="0" max="9" class="form-control bsi-form-field-input preview-input" type="text" data-bsi-remove-if="live">
                                <input min="0" max="9" class="form-control bsi-form-field-input preview-input" type="text" data-bsi-remove-if="live">
                                <input min="0" max="9" class="form-control bsi-form-field-input preview-input" type="text" data-bsi-remove-if="live">
                            </div>
                            <div x-init="initRequiredError" class="invalid-feedback">
                                <label data-bsi-element-part="{{ formFieldErrorRequiredPartId }}" role="alert" aria-live="assertive" aria-atomic="true">{{ formFieldErrorRequiredText }}</label>
                            </div>
                        </div>
                    </div>
                    <div data-bsi-remove-if="draft">
                        <ul class="text-danger" data-bsi-form-validation="">
                            <li data-bsi-form-validation-item=""></li>
                        </ul>
                    </div>
                    <div class="bsi-form-btn-row hstack flex-wrap">
                        <div class="bsi-form-btn d-flex">
                            <input type="submit" class="btn btn-submit" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
         </div>
    </div>
{% endapply %}